<!DOCTYPE html>
<html>

<head>
  <title>CsgoParlor.com | TOS</title>

</head>
<main>

  <body>
    <div style="width: 40%">
    <h2>
      
      Terms of Use
    </h2>

      <p>
        By using CsgoParlor, you are agreeing to be bound by these Terms of Service at all times and agree you are responsible for compliance with any applicable local laws. These terms may be altered and amended, and all users are expected to adhere to any changes made in our Terms of Use document. On this document, this website is refered to CsgoParlor. Other expressions may be used while refering to the website and the user aknowledges that in case of doubt if whether the website is being refenced or not www.csgoparlor.com has the final word and decision about the understanding of the terms. If you require any more information or have any questions about our Terms of Service, please feel free to contact us via email.
      </p>


      <h4>
  
Requirements
</h4>
      <p>

        You must be at least 18 [eighteen] years of age to use this website. By using this website and by agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.
      </p>

      <p>

        CsgoParlor has the right to request identification and documents to verify your age. During this process, CsgoParlor has the right to freeze your account to prevent under-age gambling. By using our site and its services, you acknowledge that you have read, understood and are able to comply with the rules and regulations.
      </p>

      <h4>
  
Jackpot participation
</h4>
      <p>

        Once you enter an item an item into a Jackpot round, it can't be retracted/given back until the round is over. You also agree that you know the risk factor of losing and are willing to lose the skins you enter into a Jackpot round. CsgoParlor cannot be held responsible for any losses, you agree that you may lose your skins to other users and not get them back.
      </p>

      <h4>
  
Pricing of virtual items
</h4>
      <p>

        The values of each skin are based on analytics collected by the Steam Analyst API, and the Steam Market API. Item values are subject to constant, automatized and immediate change. By using our services, you agree with the prices we value skins at. Factors like additional "Stickers", "Name-Tags" on any skin or special "float values" of skins are not taken into account while pricing items.
      </p>
      <p>
        We reserve the right to ban any skin from being placed in any Jackpot tier or being deposited at any time.
      </p>
      <h4>
Winnings
  
</h4>
      <p>

        Users will receive winnings into their website inventory once a round has ended. Each Jackpot round will be logged to prevent any confusion or misuse of the site. We reserve the right to monitor site activity and individual rounds to deter fraudulent activity. A house fee in form of skins is taken from each round, the house fee is 5-8% of the total amount of the Jackpot. The house fee taken will never exceed the percentages mentioned above We reserve the right to adjust the house fee at any time.
      </p>
      <h4>
  
Losses and refunds
</h4>
      <p>

        CsgoParlor is not responsible for the loss of your skins in any case. Under certain circumstances we permit refunds: When, due to a site error items are not being transferred to your website inventory and are removed from your Steam inventory. In this case, you must provide valid proof.</p>

      <h4>
  
Deposits
</h4>
      <p>

        By depositing skins into the website inventory, you agree that you might not get back the exact same item (Different "Stickers", "Name-Tag" or "float value") when withdrawing it back into your Steam Inventory.
      </p>

      <h4>
  
Items left in our system
</h4>
      <p>

        If a user is inactive for over a week, any items that are left in the user's website inventory will be claimed by CsgoParlor. Make sure to log in every once in a while or instantly withdraw your skins after you're done playing.
      </p>

      <h4>
  
Conduct
</h4>
      <p>

        We reserve the right to restrict access to malicious users. CsgoParlor reserves the right to restrict access to our services for any reason, and CsgoParlor is not obligated to provide a reason for denial of access to the user. Any attempts to impersonate CsgoParlor staff members, misuse the site and its services, or harass other users will result in a ban from our services.
      </p>

      <h4>  
Ownership
</h4>
      <p>

        All materials on this site are the intellectual property of CsgoParlor or their respective entities and you may not use any of the content you see here for commercial use without permission. This includes but is not limited to any likeness of our site and its images, any licensed code or features in use on our site. Exclusive rights for Counter-Strike: Global Offensive and its related virtual items belong to Steam and the VALVe corporation. We are NOT affiliated in any way with the VALVe corporation, Counter Strike:Global Offensive, Steam or any other trademarks of the VALVe corporation.

      </p>
      <h4>
Other parties
</h4>
      <p>

        You accept that, as a limited liability entity, CsgoParlor has an interest in limiting the personal liability of its staff members. You agree that you will not bring any claim personally against CsgoParlor staff members in respect of any losses you suffer in connection with the website. Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect CsgoParlor officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as CsgoParlor.
      </p>
    </div>



  </body>

</html>